<!doctype html>
<html ng-app='Photospring'>
<head>
  <title>Photospring</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js">;</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js">;</script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js">;</script>
  <script src="photospring.js">;</script>
  <link type="text/css" rel="stylesheet" href="photospring.css">
</head>

<body>
<div ng-controller='PhotospringCtrl'>
  <button ng-click='loadFeed()'>Load Feed</button>
  <div>
	<ul>
	  <li ng-repeat="oembed in oembeds">
		<img ng-src="{{oembed.value.url}}">
	  </li>
	</ul>
  </div>
</div>
</body>
</html>
